In [1]:
import pandas as pd

In [3]:
#loading database
work = pd.read_csv("safer-parks-accident-dataset.csv")
work.head()

,acc_id,acc_date,acc_state,acc_city,fix_port,source,bus_type,industry_sector,device_category,device_type,...,gender,acc_desc,injury_desc,report,category,mechanical,op_error,employee,notes,year
0,1007272,2009-04-05,CA,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,cars & track rides,Track ride,...,F,Patron's attorney stated that she had a right ...,Right vertegral artery tear,0,Illness or neurological symptoms,False,False,False,0,2009
1,918972,2009-02-05,FL,Naples,P,Florida Dept. of Agriculture,Carnival or rental,amusement ride,pendulum,Flying carpet ride,...,F,17-yo female was ejected from the ride mid-cyl...,Multiple broken ribs and bruised lung,https://saferparksdata.org/sites/default/files...,Fall: ejection/fall from ride,True,False,False,"This was the third ejection on this ride, unde...",2009
2,919123,2008-11-08,CA,Buena Park,F,California Division of Occupational Safety and...,Amusement park,amusement ride,coaster,Coaster - steel,...,M,Guest injured right hand while riding.,Injured hand. Treated at local hospital.,0,Unknown (not enough info),False,False,False,0,2008
3,919095,2008-11-01,CA,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,spinning,Spinning cups/tubs,...,F,"Guest stated when she sat down in the vehicle,...",Nosebleed. Treated at local hospital.,0,Illness or neurological symptoms,False,False,False,0,2008
4,919094,2008-10-29,CA,Anaheim,F,California Division of Occupational Safety and...,Amusement park,amusement ride,spinning,Spinning cups/tubs,...,F,Guest stated she felt lightheaded and experien...,"Dizziness, high blood pressure. Treated at lo...",0,Illness or neurological symptoms,False,False,False,0,2008

In [6]:
# creating a dataframe to reduce database size
work_df = pd.DataFrame(work, columns = ["acc_id", "acc_date", "acc_state","acc_city", "industry_sector", "device_type", "num_injured"])

In [7]:
work_df.head()

,acc_id,acc_date,acc_state,acc_city,industry_sector,device_type,num_injured
0,1007272,2009-04-05,CA,Anaheim,amusement ride,Track ride,1
1,918972,2009-02-05,FL,Naples,amusement ride,Flying carpet ride,1
2,919123,2008-11-08,CA,Buena Park,amusement ride,Coaster - steel,1
3,919095,2008-11-01,CA,Anaheim,amusement ride,Spinning cups/tubs,1
4,919094,2008-10-29,CA,Anaheim,amusement ride,Spinning cups/tubs,1

In [8]:
# exporting dataframe into csv for table vizual use
work_df.to_csv("reduced_data_frame.csv")